*,
*::before,
*::after {
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: #0C2D48;
}
/* Header Style */
header {
    width: 100%;
    height: 6rem;
    background-color: #B1D4E0;
    text-align: center;
    color: #0C2D48;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    padding: 0.5rem;
    overflow: hidden;
}
header > h1 {
    width: 100%;
    font-size: 4rem;
    position: absolute;
    margin: 0 auto;
    opacity: .8;
}
/* Main Style */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5%;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

#post{
    width: 100%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
}
.post {
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #145DA0;
    border: 0.5rem white solid;
    padding: 1%;
    font-size: 1rem;
    margin-bottom: 6rem;
    overflow: hidden;
}
.post *::first-letter {
    text-transform: uppercase;
}
.post > h2:first-of-type {
    width: 100%;
    font-size: 1.5rem;
    order: 2;
    font-style: italic;
    opacity: .5;
}
.post h3 {
    width: 100%;
    order: 1;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.post p {
    width: 100%;
    order: 3;
    padding: 0.5rem;
    background-color: #B1D4E0;
    color: black;
    margin-top: 0.75rem;
    flex: 1;
}
.post h2:nth-of-type(2) {
    width: 100%;
    font-size: 2rem;
    color: black;
    order: 4;
}
/* Comments Style  */
.comment {
    width: 100%;
    order: 5;
}
.comment > h4 {
    font-style: italic;
}
.comment > p {
    margin-top: inherit;
    margin-bottom: 2%;
}